<h1>Login</h1>

<h2>{{error}}</h2>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="Enter Username">
  <input type="password" name="password" placeholder="Enter Password">
  <button type="submit">Enter Website</button>
</form>
